<div class="titulo">
  <h3>Tabela de Notas Fiscais</h3>
</div>
<br>
<dx-data-grid [dataSource]="notas"
              [remoteOperations]="true"
              [height]="600"
              [showBorders]="true"
              [showColumnLines]="true"
              (onSaved)="onSaved($event)">

  <dxo-editing
    mode="popup"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true"
  >
    <dxo-popup title="Nota Fiscal" [showTitle]="true" width="800px" height="auto">
    </dxo-popup>

    <dxo-form colCount="2">
        <dxi-item dataField="id"></dxi-item>
        <dxi-item dataField="numero"></dxi-item>
        <dxi-item dataField="dataCriacao"></dxi-item>
        <dxi-item dataField="nome" ></dxi-item>
        <dxi-item dataField="itens" [colSpan]="2"></dxi-item>
    </dxo-form>

  </dxo-editing>

  <dxi-column dataField="id" [allowEditing]="false" ></dxi-column>
  <dxi-column dataField="numero" dataType="number">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="dataCriacao" dataType="date">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="nome"  dataType="string" cellTemplate="clienteCellTemplate" editCellTemplate="clienteEditCellTemplate">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="itens" dataType="string" [visible]="false" editCellTemplate="itemEditCellTemplate">
  </dxi-column>

  <div *dxTemplate="let data of 'clienteCellTemplate'">{{data.value ? data.value.nome : " "}}</div>

  <div *dxTemplate="let data of 'clienteEditCellTemplate'" >
    <dx-select-box [items]="clientes"
                   [searchEnabled] = true
                   displayExpr = "nome">
    </dx-select-box>
  </div>


  <div *dxTemplate="let data of 'itemEditCellTemplate'" >
    <dx-data-grid [dataSource]="data.value">

      <dxo-editing
        mode="row"
        [allowAdding]="true"
        [allowUpdating]="true"
        [allowDeleting]="true"
      >
      </dxo-editing>

      <dxi-column dataField="id" [allowEditing]="false" ></dxi-column>
      <dxi-column dataField="nota">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="numero" dataType="number">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="produto" cellTemplate="produtoCellTemplate" dataType="string">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="quantidade" dataType="number" >
      </dxi-column>
      <dxi-column dataField="valortotal" dataType="number" >
      </dxi-column>

      <div *dxTemplate="let data of 'produtoCellTemplate'"> {{data.value ? data.value.descricao : " "}} </div>
    </dx-data-grid>
  </div>


</dx-data-grid>
