<div class="titulo">
  <h3>Tabela de Notas Fiscais</h3>
</div>
<br>
<dx-data-grid [dataSource]="notas"
              [height]="600"
              [showBorders]="true"
              [showColumnLines]="true"
              (onInitNewRow)="onInitNewRow($event)"
              (onSaved)="onSaved($event)">


  <dxo-editing
    mode="popup"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true">

    <dxo-popup title="Nota Fiscal" [showTitle]="true" width="800px" height="auto">
    </dxo-popup>

    <dxo-form colCount="2">
        <dxi-item dataField="id"></dxi-item>
        <dxi-item dataField="numero"></dxi-item>
        <dxi-item dataField="dataCriacao"></dxi-item>
        <dxi-item dataField="cliente" ></dxi-item>
        <dxi-item dataField="itens" [colSpan]="2"></dxi-item>
    </dxo-form>
  </dxo-editing>

  <dxi-column dataField="id" [allowEditing]="false" ></dxi-column>
  <dxi-column dataField="numero" dataType="number">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="dataCriacao" dataType="date">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="cliente" cellTemplate="clienteCellTemplate" editCellTemplate="clienteEditCellTemplate">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="itens" [visible]="false" editCellTemplate="itemEditCellTemplate">
  </dxi-column>

  <div *dxTemplate="let data of 'clienteCellTemplate'">{{data.value ? data.value.nome : ""}}</div>

  <div *dxTemplate="let data of 'clienteEditCellTemplate'" >
    <dx-select-box
      valueExpr="id"
      [value]="data.value?.id"
      (valueChange)="getValorClienteGrid($event, data)"
      [items]="clientes"
      displayExpr = "nome">
    </dx-select-box>
  </div>


  <div *dxTemplate="let data of 'itemEditCellTemplate'" >
    <dx-data-grid [dataSource]="data.value"
                  [showBorders]="true"
                  [showColumnLines]="true">

      <dxo-editing
        mode="row"
        [allowAdding]="true"
        [allowUpdating]="true"
        [allowDeleting]="true">
      </dxo-editing>

      <dxo-form>
        <dxi-item dataField="id"></dxi-item>
        <dxi-item dataField="nota"></dxi-item>
        <dxi-item dataField="numero"></dxi-item>
        <dxi-item dataField="produto"></dxi-item>
        <dxi-item dataField="quantidade"></dxi-item>
        <dxi-item dataField="valortotal"></dxi-item>
      </dxo-form>

      <dxi-column dataField="id" [allowEditing]="false" [visible]="false"></dxi-column>
      <dxi-column dataField="nota">
      </dxi-column>
      <dxi-column dataField="numero" dataType="string">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="produto" cellTemplate="produtoCellTemplate" editCellTemplate="produtoEditCellTemplate">
      </dxi-column>
      <dxi-column dataField="quantidade" dataType="number" >
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="valortotal" dataType="number">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>

      <div *dxTemplate="let data1 of 'produtoCellTemplate'"> {{data1.value ? data1.value.descricao : ""}} </div>

      <div *dxTemplate="let data2 of 'produtoEditCellTemplate'">
        <dx-select-box
          valueExpr= "id"
          [value]= "data2.value?.id"
          [items]= "produtos"
          (valueChange)="getValorProdutoGrid($event, data)"
          displayExpr = "descricao" >
        </dx-select-box>
      </div>

      </dx-data-grid>

  </div>


</dx-data-grid>
